{{template "base" .}}

{{define "content"}}
    <body>
    <div class="container">
        <p>Projects...</p>

        <p>This came from the template {{index .StringMap "test"}}</p>
    </div>
    </body>
{{end}}